In [1]:
# Python Libraries (Packages)
# importing required modules
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Read data into Python
df = pd.read_csv(r"C:\Users\manoj\OneDrive\Desktop\360DigiTMG\Data Science\Assignment Question\Data Pre Processing\DataSets-Data Pre Processing\claimants.csv")
df

      CASENUM  ATTORNEY  CLMSEX  CLMINSUR  SEATBELT  CLMAGE    LOSS
0           5         0     0.0       1.0       0.0    50.0  34.940
1           3         1     1.0       0.0       0.0    18.0   0.891
2          66         1     0.0       1.0       0.0     5.0   0.330
3          70         0     0.0       1.0       1.0    31.0   0.037
4          96         1     0.0       1.0       0.0    30.0   0.038
...       ...       ...     ...       ...       ...     ...     ...
1335    34100         1     0.0       1.0       0.0     NaN   0.576
1336    34110         0     1.0       1.0       0.0    46.0   3.705
1337    34113         1     1.0       1.0       0.0    39.0   0.099
1338    34145         0     1.0       0.0       0.0     8.0   3.177
1339    34153         1     1.0       1.0       0.0    30.0   0.688

[1340 rows x 7 columns]

In [3]:
df.dtypes    #checking data type of variable

CASENUM       int64
ATTORNEY      int64
CLMSEX      float64
CLMINSUR    float64
SEATBELT    float64
CLMAGE      float64
LOSS        float64
dtype: object

In [4]:
df.shape    #size of the table column,row

(1340, 7)

In [5]:
df.describe()  ## describe function will return descriptive statistics

,CASENUM,ATTORNEY,CLMSEX,CLMINSUR,SEATBELT,CLMAGE,LOSS
count,1340.000000,1340.000000,1328.000000,1299.000000,1292.000000,1151.000000,1340.000000
mean,11202.001493,0.488806,0.558735,0.907621,0.017028,28.414422,3.806307
std,9512.750796,0.500061,0.496725,0.289671,0.129425,20.304451,10.636903
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4177.000000,0.000000,0.000000,1.000000,0.000000,9.000000,0.400000
50%,8756.500000,0.000000,1.000000,1.000000,0.000000,30.000000,1.069500
75%,15702.500000,1.000000,1.000000,1.000000,0.000000,43.000000,3.781500
max,34153.000000,1.000000,1.000000,1.000000,1.000000,95.000000,173.604000

In [6]:
df.duplicated().sum()   # Duplicates in rows

0

In [7]:
df.isna().sum()   # Check for count of NA's in each column

CASENUM       0
ATTORNEY      0
CLMSEX       12
CLMINSUR     41
SEATBELT     48
CLMAGE      189
LOSS          0
dtype: int64

In [8]:
from sklearn.impute import SimpleImputer  # tofill nan values imputer is used

In [9]:
# For Mean, Median, Mode imputation we can use Simple Imputer
mode_imputer = SimpleImputer(missing_values = np.nan, strategy='most_frequent')   #all sex records can be replaced by mode
df['CLMSEX'] = pd.DataFrame(mode_imputer.fit_transform(df[['CLMSEX']]))
df['CLMINSUR'] = pd.DataFrame(mode_imputer.fit_transform(df[['CLMINSUR']]))    #all insur records can be replaced by mode
df['SEATBELT'] = pd.DataFrame(mode_imputer.fit_transform(df[['SEATBELT']]))     #all seatbelt records can be replaced by mode

c:\Users\manoj\anaconda3\lib\site-packages\sklearn\impute\_base.py:49: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode = stats.mode(array)
c:\Users\manoj\anaconda3\lib\site-packages\sklearn\impute\_base.py:49: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode = stats.mode(array)
c:\Users\manoj\anaconda3\lib\site-packages\sklearn\impute\_base.py:49: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode = stats.mode(array)

In [10]:
median_imputer = SimpleImputer(missing_values=np.nan, strategy='median')
df['CLMAGE'] = pd.DataFrame(median_imputer.fit_transform(df[['CLMAGE']]))   #age is numeric so we can use median imputation
df['CLMAGE'].isna().sum()

0

In [11]:
df.isna().sum() # Check for count of NA's in each column # no na value now

CASENUM     0
ATTORNEY    0
CLMSEX      0
CLMINSUR    0
SEATBELT    0
CLMAGE      0
LOSS        0
dtype: int64

In [12]:
df.shape   #find weather any columns is deleted

(1340, 7)